.card.detailsCard {
    border-color: transparent;
    border: 0px;
    border-radius: 0px;
}

.detailsCard .card-header {
    background-color: rgb(41, 45, 62);
    border-radius: 0px;
    color: #fff;

    :first-child {
        border-radius: 0px;
    }
}

.detailsCard .card-header:first-child {
    border-radius: 0px;
}

.detailsCard .card-body {
    background-color: rgb(31, 34, 46);
    color: #fff;
}

.markerDetailsField {
    font-family: monospace;
}

.markerAccessSep {
    height: 20px;
}

.accessControlAction {
    display: inline-block;
    width: 20px;
}
